

<% @otters.each do |otter| %>
  <%= link_to otter.otter_name, "/otters/#{otter.id}" %>
  <%= otter.otter_age %>
<% end %>


<%= link_to "Create otter", "/parks/#{@park.id}/otters/new" %>

<p><%= link_to 'Display in Alphabetical Order', "/parks/#{@park.id}/otters?sort=alpha" %></p>
