<p><a href="/parks"> Parks</a></p>
<p><a href="/otters"> Otters</a></p>

<h1><%= @otter.otter_name %></h1>
  <p>Otter Age: <%= @otter.otter_age %></p>
  <p>Otter Name: <%= @otter.otter_name %></p>
  <p>Able to Work: <%= @otter.able_to_work %></p>
